*,
*:before,
*:after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.cf::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.player {
  position: relative;
  width: 900px;
  height: 400px;
  background: #345444;
  overflow: auto; }

.main_video {
  position: fixed; }

.more_video {
  margin-bottom: 20px; }
  .more_video img {
    display: block;
    float: left; }
  .more_video span {
    margin-left: 10px; }
  .more_video p {
    margin: 0; }

section {
  color: #fff;
  position: relative;
  float: right;
  display: block;
  margin-right: 10px;
  padding: 10px;
  background-color: #000; }
