*,
*:before,
*:after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.cf::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

body {
  font-family: 'Open Sans', sans-serif; }

p {
  margin: 0; }

section {
  display: block;
  height: auto;
  max-width: 100%; }

.container {
  position: relative; }

.video_container {
  float: left; }

.scroll_video {
  padding: 10px;
  width: 400px;
  color: white;
  height: 315px;
  background: #000;
  float: left;
  overflow: auto; }
  .scroll_video p {
    margin-bottom: 10px; }

.more_video {
  margin-bottom: 10px; }
  .more_video img {
    display: block;
    float: left; }
  .more_video a {
    margin-left: 5px; }

.player__loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ccc;
  z-index: 20;
  opacity: 1;
  visibility: visible;
  -webkit-animation: hide-loader 200ms ease-out 5000ms forwards;
          animation: hide-loader 200ms ease-out 5000ms forwards; }
